/* CSS Themes */

:root {
    /* Terra Cotta */
    /* --page-bg: rgba(244, 241, 222, 1);
  --nav_bg: rgba(224, 122, 95, 1);
  --nav_item_border: rgba(61, 64, 91, 1);
  --nav_item_bg: rgba(129, 178, 154, 1);
  --nav_item_text: rgba(242, 204, 143, 1); */
    /* Purple */
    /* --nav_item_border: rgba(147, 129, 255, 1);
    --nav_item_bg: rgba(184, 184, 255, 1);
    --nav_item_text: rgba(248, 247, 255, 1);
    --page-bg: rgba(255, 238, 221, 1);
    --nav_bg: rgba(255, 216, 190, 1); */
    /* Dusty */
    --nav_item_text: rgba(80, 81, 79, 1);
    --nav_item_bg: rgba(242, 95, 92, 1);
    --page-bglow: rgba(255, 224, 102, 1);
    --nav_item_border: rgba(36, 123, 160, 1);
    --nav_bg: rgba(112, 193, 179, 1);
}


/* The following .col-* styles are from https://www.w3schools.com/css/css_rwd_mediaqueries.asp */


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

body {
    background-color: var(--page-bg);
}

#main_div {
    margin-top: 60px;
    width: 100%;
}

.flex_nav_container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: var(--nav_bg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.nav_item {
    padding: 5px;
    height: 20px;
    margin: 10px;
    line-height: 20px;
    text-align: center;
    background-color: var(--nav_item_bg);
    border: solid var(--nav_item_border) 2px;
    border-radius: 10px;
    color: var(--nav_item_text);
    transition: transform 300ms;
}

.nav_item:hover {
    transform: scale(1.2);
}