/* CSS Themes */

:root {
    /* Terra Cotta */
    /* --page-bg: rgba(244, 241, 222, 1);
  --nav_bg: rgba(224, 122, 95, 1);
  --nav_item_border: rgba(61, 64, 91, 1);
  --nav_item_bg: rgba(129, 178, 154, 1);
  --nav_item_text: rgba(242, 204, 143, 1); */
    /* Purple */
    /* --nav_item_border: rgba(147, 129, 255, 1);
    --nav_item_bg: rgba(184, 184, 255, 1);
    --nav_item_text: rgba(248, 247, 255, 1);
    --page-bg: rgba(255, 238, 221, 1);
    --nav_bg: rgba(255, 216, 190, 1); */
    /* Dusty */
    --nav_item_text: rgba(80, 81, 79, 1);
    --nav_item_bg: rgba(242, 95, 92, 1);
    --page-bg: rgba(255, 224, 102, 1);
    --nav_item_border: rgba(36, 123, 160, 1);
    --nav_bg: rgba(112, 193, 179, 1);
}


/* The following .col-* styles are from https://www.w3schools.com/css/css_rwd_mediaqueries.asp */


/* For mobile phones: */

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }
}

body {
    background-color: var(--page-bg);
}

.flex_nav_container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: var(--nav_bg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.nav_item {
    padding: 5px;
    height: 20px;
    margin: 10px;
    line-height: 20px;
    text-align: center;
    background-color: var(--nav_item_bg);
    border: solid var(--nav_item_border) 2px;
    border-radius: 10px;
    color: var(--nav_item_text);
    transition: transform 300ms;
}

.nav_item:hover {
    transform: scale(1.2);
}

.main_div {
    margin-top: 60px;
    width: 100%;
}

h1,
h2,
table {
    color: var(--nav_item_text)
}

.center {
    display: block;
    margin: auto;
}

.center_text {
    text-align: center;
}

.v_center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.table_cat {
    font-weight: bold
}

th,
td {
    border: 1px solid var(--nav_item_border);
    padding: 5px;
}

tr:hover td {
    background: var(--nav_bg);
}

table.about {
    margin: auto;
    border-collapse: collapse;
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

table img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

ul {
    margin: 0px;
    padding-inline-start: 20px;
}